/*General styling of elements---------------------------------------------------*/


/*Smooth scrooling property*/
html {
  
  scroll-behavior: smooth;
}

/*Base styling for all elements of the page*/

.sticky{
  position: fixed;
  top:0;
  width: 100%;
  background-color:black !important;
  z-index:1;
  -webkit-animation: fadein 6s !important; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s !important;
}

*{
  
  font-family: Arial, serif;
  text-align:center; 
  
  /*Removes extra paddings and margins automatically added when creating elemens */
  box-sizing: border-box;
  color: white;
 
}

body{
  
   background-color: rgb(48, 47, 45);
   
}

p{
  
  font-family: 'Abel', arial, sans-serif;
  text-align:left;
  margin: 30px auto;
  padding-left: 12px;
  
  /*It was important to set a max width in order to keep the 3:1 - img:p - ratio, otherwise p being a block element would try to take as much space as possible from it's parenting DIV. */
  
  max-width:300px;
  
}

a{
  
  font-family: 'cinzel', arial, sans-serif;
  font-style: none;
  text-decoration:none;
  
  
}

h1, h2, h3, h4{
  
   color:rgb(255,255,255);
   font-family: 'cinzel', arial, sans-serif;
  
}

h1{
  
  letter-spacing: 20px;
  font-size: 2.8em;
  
}

h3{
  
   margin-bottom: 0;
}

h2{ 
   
    letter-spacing: 15px;
}


h4{
  
  letter-spacing: 3px;
}

  iframe{
  
  margin-top: 20px;

}

/*Setting up MAIN grid-template----------------------------------------------------  */

/*Setting up the main CSS Grid Template with grid-tempplate-areas*/

.container{

  display: grid;
  
  grid-gap:10px;
  
  
  grid-template-areas:
    
    "t1 t1 t1 t1"
    "n1 n1 n1 n1"
    "p1 p1 p1 c2"
    "p1 p1 p1 c3"
    "c7 c7 c7 c7"
    "c4 p6 p6 p6"
    "c5 p6 p6 p6" 
    "f1 f1 f1 f1";
  
}


/*Styling of each section of the layout---------------------------------------- */

.title{
  
  background-color: rgba(48, 47, 45, 0.8);  
  
}

/*Used Glex grid to style the navbar. */

.nav{
  
  -webkit-animation: fadein 6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 6s; /* Firefox < 16 */
        -ms-animation: fadein 6s; /* Internet Explorer */
         -o-animation: fadein 6s; /* Opera < 12.1 */
            animation: fadein 6s;
  
  display:flex;
  flex-wrap: wrap;
  
  height: 60px;
 
  /*Making all items have the same space between them and align to the center. */
  
 justify-content: space-around;
 align-items: center;
  
  background-color:rgba(48, 47, 45, 0.8);
  
}

/*I created this two classes to setup a transparent black overlay over the content1 and 6 classes - where the pictures are. This was an attempt to avoid using z-index and apparently it worked.*/

.background1, .background2{
  
  text-align: center;
  padding: 20px 0;
  background-color: rgba(0,0,0,0.3);
  width:100%
 
}


.content1{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;

  
  background: url("https://images.pexels.com/photos/1537638/pexels-photo-1537638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat top;
  
  background-size: cover;
 
 
  display:flex;
  flex-wrap: wrap;
  
   /*Used flex to align the h2 and the h4 */
  
  justify-content:center;
  
}

.content2{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
  
   background-color: #4a41f49f;
 

}
.content3{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
  
    background-color: #629bff9f;
   
}

.content4{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
    
  background-color: #629bff9f;
  
}
.content5{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
   background-color: #4a41f49f;
}

.content6{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
  
    background: url("https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center;

  background-size: cover;
  
  display:flex;
  
  flex-wrap: wrap;
  
  justify-content:center;
  
}

.content7{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
  
    background: url("https://images.pexels.com/photos/262577/pexels-photo-262577.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat center;
  
  background-size: cover;
  
  height:300px;
}

.content7 h2{
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center; 
  align-items: center;
  
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  height: 150px;
  margin: 70px 0;
  
}


.footer{
  
  -webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
  display: flex;
  flex-wrap: wrap;
  
  justify-content:space-around;
  
  align-items: center;
  
  background-color: rgba(0,0,0, 0.5);
  
}

.footer a{
  
  color: rgba(255,255,255,0.8);
  font-size: 0.8em;
  
}

/* Default section size --------------------------------------------------------------*/
 
#f1{
     
     height:90px;
     
   }
#c2, #c3, #c4, #c5, #c6{
  
  min-width: 200px;
  
}

/*Media devices----------------------------------------------------------------*/


@media all and (min-width:1280px){
  
  
  /*Setting up area sizes to adjust to screen sizes.  */
  
  .container{
    
    width:1280px;
    margin: 0 auto;
  }
  
   #p1, #p6 {
     
     height:600px;
     min-width: 200px;
     
     
   }


}

@media all and (min-width:1024px) and (max-width: 1280px){
  
 /*Setting up area sizes to adjust to screen sizes.  */
  
   #p1, #p6 {
     
     height:550px;
     min-width: 200px;
 
   }
   
}

@media all and (min-width: 650px) and (max-width: 1024px){
  
 
  /*Setting up area sizes to adjust to screen sizes.  */
  
 #p1, #p6 {
     
     height:550px;
     min-width: 200px;
     
   }
   #c2, #c3, #c4, #c5{
    
     height:270px;
     
   }
  
   
}

@media all and (min-width:400px) and (max-width: 650px){
  
  .container{
  

  display: grid;
  flex-wrap: wrap;
  
    /*Setting up a Grid Template area for smaller screen sizes.  */ 
    
  grid-template-areas:
   
   "t1 t1"
   "n1 n1"
   "p1 p1"
   "c2 c3"
   "c7 c7"
   "p6 p6"
   "c4 c5"
   "f1 f1";
   
  
  }
  
    /*Setting up area sizes to adjust to screen sizes.  */
  
  .footer a{
     
      display:block;
      width:100%;
     
   }
   
   #f1{
     height:150px;
   }
 
  
   #c2, #c3, #c4, #c5{
    
     height:350px;
     
   }
   
  #p1, #p6 {
     
     height:500px;
     min-width: 200px;
     
     
   }
}

 @media all and (max-width:400px){
  
  .container{
  

  display: grid;
  flex-wrap: wrap;
  
  /*Setting up a Grid Template area for smaller screen sizes.  */
    
  grid-template-areas:
    
   "t1"
   "n1"
   "p1"
   "c2"
   "c3"
   "c7"
   "p6"
   "c4"
   "c5"
   "f1"
   ;
  
  }
   
     /*Setting up area sizes to adjust to screen sizes.  */
   
 .footer a{
     
      display:block;
      width:100%;
     
   }
   
   #f1{
     height:150px;
   }
   
   #c2, #c3, #c4, #c5{
    
     height:300px;
     
   }
   
   #p1, #p6 {
     
     height:500px;
     min-width: 200px;
     
     
   }
   
}


/* Defining Grid Areas------------------------------------------------------------------------------------------------------ */

 /*This is needed in order to use the Template areas. Chose to use ids instead of classes, as I wanted to override through CSS specificity, in order to avoid any conflict with lower priority classes or elements.  */

#t1{
  
     grid-area: t1;
  
}

#n1{
  
    grid-area: n1;
  
}


#p1{
  
  grid-area: p1;
 
}

#c2{
  
   grid-area: c2;
  
}

#c3{
  
   grid-area: c3;
  
}

#c4{
   grid-area: c4;
}

#c5{
   grid-area: c5;
}

#p6{
   grid-area:p6;
  
 
}

#c7{
   grid-area: c7;

}

#f1{
  
    grid-area: f1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
   
 